:root {
  --primary: #4f46e5;
  --dark: #f9fafb;
  --light: #1e293b;
  --gray: #64748b;
  --hov1: #4338ca;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--dark);
  color: var(--light);
}

/* NAVBAR */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #e2e8f0;
  z-index: 1000;
}

nav h1 {
  color: var(--primary);
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}

.item:hover {
  transform: scale(1.3);
  transition: 0.3s ease;
}

/* SECTIONS ANIMATION */

section {
  min-height: 100vh;
  padding: 120px 10% 60px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

section.show {
  opacity: 1;
  transform: translateY(0);
}

/* HERO */

.hero h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  color: var(--gray);
  margin-bottom: 30px;
}

/* BUTTON */

.button {
  position: relative;
  width: 160px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.border {
  stroke: var(--primary);
  stroke-width: 2px;
  fill: transparent;
}

.txt-upload {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--primary);
}

/* PROJECTS */
.projects {
  margin-top: 10px;
}

.project-links {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.card {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 15px;
  width: 700px;
}

.card:hover {
  box-shadow: 0 0 2px 2px var(--primary);
}

.cardh:hover {
  color: green;
}

.cardp:hover {
  color: aqua;
}

.projectbtn:hover {
  transform: scale(1.2);
  transition: 0.2s ease-out;
}

.project-links a {
  text-decoration: none;
  padding: 6px 12px;
  background-color: var(--primary);
  color: white;
  border-radius: 6px;
  font-size: 0.85rem;
  transition: 0.3s;
}

.project-links a:hover {
  background-color: var(--hov1);
}

/* CONTACT */

.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
}

.input1:hover {
  box-shadow: 0 0 2px 2px var(--primary);
}

.btn1 {
  background: var(--primary);
  color: white;
  border: none;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.btn1:hover {
  box-shadow: 0 0 5px 5px gold;
  background-color: gold;
}

.btn1:active {
  box-shadow: 0 0 5px 5px black;
}

/* FOOTER */

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8fafc;
  border-top: 2px solid #1e293b;
  margin-top: 40px;
}
